

h1{

    color: orange;
}


div nav{
    display: block;
    background-color: aqua;
    color: blue;
    border-radius: 4px;
}

ul li{
 display: inline;
    text-align: center;
    margin-top: 50px;
}