/* IMPOSTAZIONI GENERALI */
html {font-size: 62.5%;}
body { 
    font-family: Fira Sans, Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
}





/* HEADER */ 

header  {
    background-color: rgba(11, 35, 102, 0.979);
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
}


#main-menu li{
    display: inline;
    
    a {
        display: inline-block;
        border: 1px solid rgb(13, 13, 14);
        padding: 5px;
        color: white;
        background-color: rgb(92, 97, 163);
        text-decoration: none;
        margin-right: 3px;
        border-radius: 15px;
    
    }

    a:hover {
        background: rgb(58, 61, 109);
    } 

}



#footer{

  border: 2px solid rgb(92, 97, 163)  ;
  border-radius: 10px;
  padding: 30px;
  background-color:rgb(92, 97, 163) ;

}


#sidebar ul {
    position: absolute;
    top: 100px;
    right: 100px;
    list-style-type: none;
}



#sidebar li {
padding:5px;
border-bottom: 1px solid lightgray;
width: 70px;
text-align: center;


}

#content {
   display: flex;
   flex-direction: column;
   padding-left: 25%;
   padding-right: 25%;
}

#content p {
    text-align: justify;
}


a{
 text-decoration: none;



}


.warning-button{
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: bold 12px Arial, Helvetica, sans-serif;
color: #fff;
padding: 10px 20px;
border: solid 1px #0076a3;
background: #0095cd;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}